body {
    background-image: url(./laptop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-family: 'Pacifico', cursive;
}


.container {
    margin-bottom: 25px;
    padding: 25px;
}
.row {
    margin-bottom: 25px;
}

.btn-group button {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    width: 100%;
    display: block; 
}

.btn-group button:not(:last-child) {
    border-bottom: none;
  }
  
.btn-group button:hover {
    background-color: lightblue;
}
ul {
    list-style-type: none;
    padding: 0;
}

.hide {
    display: none;
}

.disabled {
    /* change color to gray */
}

.grow {
    width: 400px;

}

#timer {
    font-size: 20px;
    color: black;
}

#feedback {
    font-size: 20px;
    font-weight: bold;
}